.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #fff;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(49, 49, 179);
  padding: 20px;
  margin-top: 2rem;
  border-radius: 5px;
}

.item p {
  text-align: left;
}

.item button {
  outline: none;
  cursor: pointer;
  border: 1px solid #dc2626;
  color: #dc2626;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.item img {
  /* width: 60px; */
  /* height:60px; */
  width: calc(3.5em + 1vw);
  height: calc(3.5em + 1vh);
}
